#about {
  position: relative;
  background: linear-gradient(#7ab1d0, #d7dee8);
  border-bottom: 1px solid rgba(88, 88, 88, 0.8);
  
  .app__wrapper {
    padding: 0;
  }
}

.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__about-title {
  margin-bottom: 2rem;
  span {
    margin-left: 0.5rem;
  }
}

.app__about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  .circle-codecool {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("../../assets/codecool.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin-left: 1rem;
    box-shadow: 0 0 30px rgba(0,0,0, 0.1);
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    .circle-codecool {
      margin-top: 1rem;
    }
  }
}

.app__about-description {
  background: rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 15px;
  padding: 1rem 1rem;
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0,0,0, 0.1);
}